<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILMOLOGY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">
                    <a class="navbar-brand" style="color:white; font-size: 35px" href="#">FILMOLOGY</a>
                    <button class="navbar-toggler my-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <a class="nav-link" style="color:white; font-size: 18px" href="/">Home</a>
                            <a class="nav-link" style="color:white; font-size: 18px" href="/filmspots">Spots</a>
                            <a class="nav-link" style="color:white; font-size: 18px" href="/filmspots/new">New Spot</a>
                        </div>
                        <div class="navbar-nav ml-auto ms-auto">
                            <% if (!currUser) { %>
                            <a href="/login" style="color:white; font-size: 18px" class="nav-link">Login</a>
                            <a href="/register" style="color:white; font-size: 18px" class="nav-link">Register</a>
                            <% } else { %>
                            <a href="/logout" style="color:white; font-size: 18px" class="nav-link">Logout</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </nav>
        </header>


        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-background" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/djlkciaid/image/upload/v1684295997/Filmology/C009255-R1-18-18A_lz1kfr.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/djlkciaid/image/upload/v1684295996/Filmology/C009436-R1-10-9A_gagsvl.jpg"
                        class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/djlkciaid/image/upload/v1684295996/Filmology/C009255-R1-27-29A_uwemgs.jpg"
                        class="d-block w-100" alt="...">
                </div>
            </div>
        </div>

        <div class="mt-auto">
            <main class="px-3">
                <h1>FILMOLOGY</h1>
                <p class="lead"> Welcome to FILMOLOGY! <br> Jump right in and explore our many spots. <br>
                    Feel free to share some of your own and comment on others!</p>
                <a href="/filmspots" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                    Spots</a>
            </main>

            <footer class="mt-auto text-white-50">
                <p>&copy; 2023 </p>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>

</html>